@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 22%;
    margin-left: 90%;
    width: 500px;
}
label{
    color: hsl(278, 68%, 11%);
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    letter-spacing: 2px;
}
input{
    
    display: block;
    position: relative;
    width: 90%;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
    border: solid hsl(270, 3%, 87%);
    font-size: 1.3rem;
}
input:focus{
    border-color: hsl(249, 99%, 64%);
}
input::placeholder{
    color: hsl(279, 6%, 55%);
}
button{
    height: 60px;
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-top: 20px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.whole{
    display: flex;
}
.attribution{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    text-align: center;
}
.left-wing{
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100vh;
}
.front-card{
    position: relative;
    left: 40%;
    top: 13%;
    height: 300px;
    width: 550px;
}
.fcard-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: hsl(0, 0%, 100%);
    padding: 35px;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.fcard-content h1{
    margin-top: 80px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 2.3rem;
}
.fcard-bottom{
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.back-card{
    position: relative;
    left: 60%;
    top: 17%;
}
.back-card p{
    display: inline-block;
    position: absolute;
    top: 137px;
    right: 200px;
    letter-spacing: 3px;
    color: white;
}
.cards{
    height: 300px;
    width: 550px;
    border-radius: 12px;
    box-shadow: 20px 30px 100px rgba(0, 0, 0, 0.3);
}
.hide{
    display: none !important;
}
.form-control.error input{
    border-color: hsl(0, 100%, 66%);
    visibility: hidden;
}
.form-control small{
    color: hsl(0, 100%, 66%);
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    visibility: hidden;
}

#mm-inp{
    width: 70px;
}
#yy-inp{
    width: 70px;
    margin-left: 5px;
}
#cvc-inp{
    width: 180px;
}
.exp-cvc{
    display: flex;
}
.expDate-input{
    display: flex;
    margin-top: 7px;
}
.exp{
    margin-right: 30px;
    margin-top: 40px;
}
.cvc-form{
    display: flex;
    flex-direction: column;
}

.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 15%;
}
.thank-you h2{
    color:  hsl(278, 68%, 11%);
    font-size: 2rem;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.thank-you p{
    color: hsl(279, 6%, 55%);
    letter-spacing: 2px;
}
.thank-you button{
    width: 150%;
    margin-top: 50px;
}


@media screen and (max-width: 767px) {
    *{
        max-height: none;
    }
    .whole{
        display: flex;
        flex-direction: column;
    }
    .left-wing{
        height: 30vh;
        width: 100%;
    }
    .cards{
        width: 300px;
        height: 180px;
        position: absolute;
        box-shadow: none;
    }
    form{
        margin: 50px auto 20px auto;
        width: 85%;
        margin-left: 20px;
    }
    .attribution{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        text-align: center;
    }
    .front-card{
        width: 300px;
        height: 180px;
        left: 3%;
        top: 120px;
        z-index: 5;
        margin-right: 0;
        right: 0;
    }
    .fcard-content{
        width: 250px;
        height: 150px;
        padding: 25px;
    }
    .fcard-content img{
        height: 30px;
        width: 55px;
    }
    .fcard-content h1{
        font-size: 1rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .fcard-bottom{
        width: 250px;
        font-size: 0.7rem;
    }
    .back-card{
        top: 0;
        margin-top: 20px;
        bottom: 0;
        left: 18%;
    }
    .right-wing button{
        width: 105%;
    }
    #mm-inp{
        width: 40px;
    }
    #yy-inp{
        width: 40px;
        margin-left: 5px;
    }
    #cvc-inp{
        width: 80%;
    }
    .exp{
        margin-right: 10px;
    }
    .thank-you button{
        width: 100%;
    }
    .thank-you{
        margin: 30% auto 70px auto;
    }
    .thank-you h2{
        color:  hsl(278, 68%, 11%);
        font-size: 2rem;
        letter-spacing: 3px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .thank-you p{
        color: hsl(279, 6%, 55%);
        letter-spacing: 2px;
    }
}